<nav class="footer navbar " role="navigation">
    
    <div class=" hidden-xs col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="bar col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h5><strong>Contacts</strong></h5>
            <ul>
                <li>Area Place: 123-4567</li>
                <li>Valley Somewhere: 765-4321</li>
                <li>Office Building: 999-9999</li>
            </ul>
        </div>
        <div class="bar col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h5><strong>About</strong></h5>
            <ul>
                <li><a [routerLink]="['/']">What is IRMS?</a></li>
            </ul>
        </div>
        <div class="bar col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h5><strong>Policies</strong></h5>
            <ul>
                <li>Privacy Statement</li>
                <li>Terms and Conditions</li>
                <li>Terms of Use</li>
            </ul>
        </div>
        <div class="bar col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h5><strong>Tech Used</strong></h5>
            <ul>
                <li><a href="https://angular.io/">Angular 4</a></li>
                <li><a href="https://firebase.google.com">Firebase</a></li>
                <li><a href="https://angular-maps.com/">Angular Google Maps</a></li>
                <li><a href="https://bootswatch.com/">Bootswatch</a></li>
            </ul>
        </div>
    </div>
    
    <div class="footer-beta text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p><a href="https://github.com/simonsankar/IRMS">IRMS Repo</a> | <a href="https://github.com/simonsankar">My Github</a> | <a href="mailto:sjsankar10@gmail.com">Email</a></p>
        
    </div>
    
</nav>
