<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="text-center">Developing...
          </h1>
        </div>
          <div class="panel-footer">
          </div>
    </div>
</div>

<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Category -->
      <label for=""><strong>Category:</strong></label>
      <select [(ngModel)]="selectedCategory" (ngModelChange)="onChange()" class="form-control">
          <option *ngFor="let c of categories; let j = index" [ngValue]="c"> {{c.name}}</option>
      </select>      
    </div>
  </div>
</div>

