<div class="row">
  <div class="jumbotron">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h1>Infrastructure Report Management System <small>v2.0</small></h1>
        <p>Reporting made simple. <button [routerLink]="['/makereport']" class="btn btn-xs btn-danger">Start Reporting!</button></p>
        
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="hidden-sm hidden-xs img-responsive pull-right" [attr.src]="jumboIcon" alt="">      
      </div>
    </div>
  </div>    
</div>

<!-- Welcome steps -->
<div class="row text-center">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="panel panel-default square">
      <div class="panel-body">
        <h3 class="faa-parent animated-hover"><span class="glyphicon glyphicon-pencil"></span></h3>
        <h3>What's the problem?</h3>
        <p>Select a category then give us some details.</p>
      </div>
    </div>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="panel panel-default square">
        <div class="panel-body">
          <h3 class="faa-parent animated-hover"><span class=" glyphicon glyphicon-map-marker"></span></h3>
          <h3>Show us where!</h3>
          <p>Pin point the location of concern by clicking on the map.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="panel panel-default square">
        <div class="panel-body">
          <h3 class="faa-parent animated-hover"><span class="glyphicon glyphicon-picture"></span></h3>
          <h3>Got photos?</h3>
          <p>Upload a picture so we can see what you see.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div class="panel panel-default square">
        <div class="panel-body">
          <h3 class="faa-parent animated-hover"><span class="glyphicon glyphicon-ok"></span></h3>
          <h3>Report Complete!</h3>
          <p>Have a look at your report then submit.</p>
        </div>
      </div>
    </div>
</div>

<!-- Well -->
<div class="row text-center">
  <div class="well">
    <p><em>Finally there's an easy way to report your concerns, frustrations and problems with regard to your community.</em></p>
  </div>
</div>

<!-- Other functions -->
<div class="row text-center">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>See what's happening.</h2>
        <p>View <a [routerLink]="['/reports']">Reports</a> from other users on their concerns.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Fixed, resolved!</h2>
        <p>Check the <a [routerLink]="['/responses']">Responses</a> to see what's been taken care of.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>How's the progress?</h2>
        <p>See the what the data collected shows in <a [routerLink]="['/stats']">Graphical</a> form.</p>
      </div>
    </div>
  </div>
</div>