<app-page-header [title]="title"></app-page-header>
<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>#Reports</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of categories">
              <td>
                <input [(ngModel)]="c.name" [disabled]="!c.edit" type="text" class="form-control">
              </td>
              <td>
                <span class="badge">{{c.num}}</span>
              </td>
              <td>
                <button *ngIf="!c.edit" (click)="editCategory(c)" type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                <button *ngIf="c.edit" (click)="updateCategory(c)" type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                <button *ngIf="c.edit" (click)="cancelEdit(c)" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove"></span></button>
              </td>
              <td>
                <button *ngIf="c.num == 0" (click)="deleteCategory(c)" type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                <button *ngIf="c.num != 0" type="button" class="disabled btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
    
    
  </div>
  
  <!-- Add Category -->
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><em>Add a Category</em></h3>
        <hr>
        <div class="form-group">
          <label for=""><strong>Category Name:</strong></label>
          <input [(ngModel)]="categoryName" type="text" class="form-control">
        </div>
        <hr>
        <div class="form-group">
          <button (click)="addCategory()" type="button" class="btn btn-block btn-success">Add</button>
        </div>
      </div>
    </div>
  </div>
  
</div>
